/* SEARCH DIRECTORY

  1. =GLOBAL
  2. =LIBRARY
  3. =MODAL
  4. =DISPLAY

*/

/* ===GLOBAL=== */
body {
  background: url(background.jpeg);
}

/* ===LIBRARY=== */

/* Main container */
.library {
  width: 70%;
  background: #2d6187;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 15px;
}

/* Header */
.library h1 {
  text-align: center;
  font-size: 44px;
  color: white;
  text-shadow: 2px 0 0 #000;
}

/* Buttons */
.library-btn {
  display: flex;
  justify-content: center;
}
.open-modal {
  margin-right: 15px;
}

/* ===MODAL=== */

/* Modal container */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

/* Modal content */
.modal-content {
  width: 500px;
  min-height: 300px;
  border-radius: 15px;
  background: white;
  margin: 5% auto;
  padding: 1em;
  text-align: center;
}
.modal-content button {
  margin-top: 15px;
  font-size: 18px;
}
.modal-warning {
  color: red;
  font-size: 16px;
}

/* Close modal span */
.close-modal {
  color: #ff4b5c;
  float: right;
  font-size: 30px;
}
.close-modal:hover,
.close-modal:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
  font-weight: 900;
}

/* Book info fieldset */
.book-info {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 2fr 7fr;
  grid-gap: 15px;;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
.book-info legend {
  font-size: 20px;
  margin-bottom: 0.5em;
}

/* ===DISPLAY=== */
.book-display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

/* Book card */
.book {
  min-width: 200px;
  min-height: 200px;
  background: #f1f6f9;
  border: 2px solid #fca652;
  border-radius: 10px;
  padding: 0.5em;
  margin: 2em 1em;
  text-align: center;
}
.delete-book {
  width: 100px;
  height: 30px;
  color: #394867;
  font-size: 20px;
  text-shadow: 1px 0 0 #000;
}
.delete-book:hover,
.delete-book:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}