html {
  background-image: url(background.png);
  background-repeat: repeat;
}
h1 {
  text-align: center;
  font-size: 40px;
}
hr {
  width: 80%;
}

/*
==================
Sketch Size Radios
==================
*/
fieldset {
  width: 17%;
  margin: 1em auto;
  background-color: white;
}
legend {
  font-size: 20px;
  font-weight: 500;
}
input[type="radio"] {
  margin-left: 1.5em;
}

/*
=======
Buttons
=======
*/
  .sketch-buttons {
    text-align: center;
  }
button {
  font-size: 20px;
  margin: 0 1em;
}

/*
================
Sketch Container
================
*/
.container {
  display: grid;
  width: 40%;
  height: 65vh;
  margin: 1em auto;
  border: 2px solid black;
}
.square {
  border: 1px solid rgb(223, 223, 223);
  background-color: white;
}
.touched {
  background-color: black;
}
